<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        tools:replace="android:allowBackup,android:fullBackupContent">
        <activity
            android:name="com.neoncompanion.filepicker.NeonFilePickerActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
